<div class="container">
  <h2 class="mt0">Order review</h2>
  <div *ngIf="order; else notFound">
    <p class="mb32">You are reviewing your order with ID {{ orderId }}</p>
    <div fxLayout fxLayoutAlign="space-between start" fxLayoutGap="32px">
      <app-address-form [address$]="addressSubject" [isReadOnly]="true" fxFlex></app-address-form>
      <app-order-summary fxFlex [items$]="itemsSubject"></app-order-summary>
    </div>
  </div>

  <!-- TODO: show a spinner instead of not found. Only show not found it's really 404 -->
  <ng-template #notFound>
    <p>This order doesn't exist.</p>
  </ng-template>

  <div fxLayout fxLayoutAlign="start start" fxLayoutGap="32px" class="mt32">
    <button routerLink="/my-orders" mat-flat-button color="accent">
      View all my orders
    </button>
    <button routerLink="/" mat-flat-button color="primary">
      Back to the shop
    </button>
  </div>
</div>
