h2 {
  margin-top: 0px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-footer-row {
  font-weight: bold;
}

td img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.mat-column-quantity {
  width: 250px;
}

.mat-column-productImage {
  width: 150px;
}

.mat-column-price {
  width: 100px;
  text-align: right;
}