<div class="container">
  <h2>Shopping cart</h2>

  <div
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="32px"
  >
    <p *ngIf="!totalQuantity">Your shopping cart is empty.</p>
    <p *ngIf="totalQuantity === 1">You have 1 item in your shopping cart.</p>
    <p *ngIf="totalQuantity > 1">
      You have {{ totalQuantity }} items in your shopping cart.
    </p>

    <div
      *ngIf="totalQuantity > 0"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      fxLayoutGap="32px"
    >
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="productImage">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let item">
            <img [src]="item.product.imageUrl" alt="Product image" />
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let item">{{ item.product.title }}</td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let item">
            <app-quantity-selector
              [item]="item"
              (quantityPlusOne)="onQuantityPlusOne(item)"
              (quantityMinusOne)="onQuantityMinusOne(item)"
            ></app-quantity-selector>
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ totalQuantity }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Total price</th>
          <td mat-cell *matCellDef="let item">
            {{ item.product.price * item.quantity | currency: 'USD':'symbol' }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ totalPrice | currency }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
      </table>

      <div fxLayout fxLayoutAlign="end center">
        <button routerLink="/check-out" mat-flat-button color="accent">Check out</button>
      </div>
    </div>
  </div>
</div>
