<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ category }}
    </mat-card-subtitle>
  </mat-card-header>

  <img [src]="imageUrl" alt="" />

  <mat-card-content>
    {{ price | currency: 'USD':'symbol' }}
  </mat-card-content>

  <mat-card-actions *ngIf="!isAdminPreview">
    <div fxLayoutAlign="center center">
      <button
        *ngIf="item.quantity === 0; else quantityArea"
        mat-flat-button
        color="primary"
        (click)="addToCart()"
      >
        Add to cart
      </button>

      <ng-template #quantityArea>
        <app-quantity-selector
          [item]="item"
          [suffixText]="'in cart'"
          (quantityPlusOne)="addToCart()"
          (quantityMinusOne)="removeFromCart()"
        ></app-quantity-selector>
      </ng-template>
    </div>
  </mat-card-actions>
</mat-card>
