<div fxLayout fxLayout.xs="column" ngClass.gt-xs="full-height" ngClass.xs="">
  <div fxFlex="250px" ngClass.gt-xs="scroll" class="padding">
    <mat-radio-group
      [(ngModel)]="selectedCategoryId"
      (change)="onSelectedCategoryChange()"
      fxLayout="column"
      fxLayoutGap="1rem"
    >
      <mat-radio-button value="">
        All categories
      </mat-radio-button>
      <mat-radio-button
        *ngFor="let category of (categories$ | async)"
        [value]="category.id"
      >
        {{ category.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div fxFlex ngClass.gt-xs="scroll" class="padding">
    <div fxLayout="row wrap" fxLayoutGap="10px">
      <app-product-card
        *ngFor="let product of (products$ | async)"
        [title]="product.title"
        [category]="product.category.name"
        [imageUrl]="product.imageUrl"
        [price]="product.price"
        [showAddToCartButton]="true"
      ></app-product-card>
    </div>
  </div>
</div>
