<div class="row">
  <div [class]="imageUrl.valid ? 'col-md-7' : 'col-md-12'">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="vertical-form">
        <mat-form-field>
          <input type="text" matInput placeholder="Title"
            formControlName='title' required>
          <mat-error *ngIf="title.invalid">
            {{ getErrorMessage(title, 'Title') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mt-3">
          <input type="number" matInput placeholder="Price"
            formControlName='price' required>
          <span matSuffix>&nbsp;$</span>
          <mat-error *ngIf="price.invalid">
            {{ getErrorMessage(price, 'Price') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mt-3">
          <mat-select placeholder="Category" formControlName='category'
            required>
            <mat-option *ngFor="let cat of categories$ | async"
              [value]="cat.id">
              {{ cat.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="category.invalid">
            {{ getErrorMessage(category, 'Category') }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mt-3">
          <input type="text" matInput placeholder="Image URL"
            formControlName="imageUrl" required>
          <mat-error *ngIf="imageUrl.invalid">
            {{ getErrorMessage(imageUrl, 'Image URL') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-3">
        <button type="submit" [disabled]="productForm.invalid" mat-flat-button
          color="primary" class="mr-3">Save</button>
        <button type="button" routerLink="/admin/products" mat-stroked-button
          class="mr-3">Cancel</button>
        <button type="button" (click)="delete()" *ngIf="id" mat-flat-button
          class="float-right" color="warn">Delete</button>
      </div>
    </form>
  </div>
  <div class="col-md-5" *ngIf="imageUrl.valid">
    <div class="card">
      <img class="card-img-top" [src]="imageUrl.value"
        alt="Product image from Image URL" />
      <div class="card-body">
        <h5 class="card-title">{{ title.value }}</h5>
        <p class="card-text">{{ price.value | currency:'USD':'symbol'}}</p>
      </div>
    </div>
  </div>
</div>