<h2>Shipping address</h2>

<form (ngSubmit)="onSubmit()" #addressForm="ngForm" fxLayout fxLayout="column" fxLayoutGap="16px">
  <mat-form-field>
    <input
      #nameField="ngModel"
      type="text"
      matInput
      placeholder="Name"
      required
      [(ngModel)]="address.name"
      name="name"
      [disabled]="isReadOnly"
    />
    <mat-error *ngIf="nameField.invalid && nameField.errors['required']">
      Name is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      #addressLine1Field="ngModel"
      type="text"
      matInput
      placeholder="Address line 1"
      required
      [(ngModel)]="address.addressLines[0]"
      name="addressLine1"
      [disabled]="isReadOnly"
    />
    <mat-error
      *ngIf="addressLine1Field.invalid && addressLine1Field.errors['required']"
    >
      Address line 1 is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="Address line 2"
      [(ngModel)]="address.addressLines[1]"
      name="addressLine2"
      [disabled]="isReadOnly"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      #postCodeField="ngModel"
      type="text"
      matInput
      placeholder="Post code"
      required
      [(ngModel)]="address.postCode"
      name="postCode"
      [disabled]="isReadOnly"
    />
    <mat-error
      *ngIf="postCodeField.invalid && postCodeField.errors['required']"
    >
      Post code is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      #cityField="ngModel"
      type="text"
      matInput
      placeholder="City"
      required
      [(ngModel)]="address.city"
      name="city"
      [disabled]="isReadOnly"
    />
    <mat-error *ngIf="cityField.invalid && cityField.errors['required']">
      City is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      #countryField="ngModel"
      type="text"
      matInput
      placeholder="Country"
      required
      [(ngModel)]="address.country"
      name="country"
      [disabled]="isReadOnly"
    />
    <mat-error *ngIf="countryField.invalid && countryField.errors['required']">
      Country is required.
    </mat-error>
  </mat-form-field>

  <button *ngIf="!isReadOnly" mat-flat-button color="accent" type="submit" [disabled]="!addressForm.form.valid">Place order</button>
</form>
