@import './variables.scss';

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

$main-margin: 0px;

main {
  margin: $main-margin;
}

.full-height {
  height: calc(100% - #{$header-height} - #{$main-margin} * 2);
}
